<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_fef321fd78dd48cd98402a94b32d8326 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_fef321fd78dd48cd98402a94b32d8326" ></div>
        
</body>
<script>
    
    
            var map_fef321fd78dd48cd98402a94b32d8326 = L.map(
                "map_fef321fd78dd48cd98402a94b32d8326",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4c6924816f518e6bed0f5928b4751f5f = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
            var marker_d37ff5a8840aa6cefffc870488a2337b = L.marker(
                [45.62311, 27.4349],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_7fbc4acea74e66e117bbea2a9cde40e2 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_abf71b1991d7f6a979abb1abdf5056c9 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjcuNDM0OTwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxhdGl0dWRlOiA0NS42MjMxMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkRldGVjdGlvbiB0aW1lOiAyMDIzLTEwLTA3PC9saT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvdWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cD5BbmQgdGhhdCdzIGEgPGEgaHJlZj0iaHR0cHM6Ly93d3cucHl0aG9uLWdyYXBoLWdhbGxlcnkuY29tIj5saW5rPC9hPjwvcD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_7fbc4acea74e66e117bbea2a9cde40e2.setContent(i_frame_abf71b1991d7f6a979abb1abdf5056c9);
            
        

        marker_d37ff5a8840aa6cefffc870488a2337b.bindPopup(popup_7fbc4acea74e66e117bbea2a9cde40e2)
        ;

        
    
    
            var marker_414338767951c73480d3a801821c519e = L.marker(
                [46.11808, 20.63474],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_b17a548c7b628a33ec48a9ca5c109c4b = L.popup({"maxWidth": 2650});

        
            
                var i_frame_0f3e84c0f8ea95478e51461a198af143 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjAuNjM0NzQ8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDYuMTE4MDg8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_b17a548c7b628a33ec48a9ca5c109c4b.setContent(i_frame_0f3e84c0f8ea95478e51461a198af143);
            
        

        marker_414338767951c73480d3a801821c519e.bindPopup(popup_b17a548c7b628a33ec48a9ca5c109c4b)
        ;

        
    
    
            var marker_3ae141ada687798d35a742a3c7477fb1 = L.marker(
                [46.11994, 20.62215],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_4fbb939cd1ec433e2c5d959d579ca7fd = L.popup({"maxWidth": 2650});

        
            
                var i_frame_b1a66a64148845f44e914c1beb4e2996 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjAuNjIyMTU8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDYuMTE5OTQ8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_4fbb939cd1ec433e2c5d959d579ca7fd.setContent(i_frame_b1a66a64148845f44e914c1beb4e2996);
            
        

        marker_3ae141ada687798d35a742a3c7477fb1.bindPopup(popup_4fbb939cd1ec433e2c5d959d579ca7fd)
        ;

        
    
    
            var marker_731d755677dd1f3db28505c668c6d4af = L.marker(
                [46.68509, 21.74059],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_8cdfc60ad207f0e1452c1b14228a2103 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_892ebc261cfac9e378305f18b88910b8 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjEuNzQwNTk8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDYuNjg1MDk8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_8cdfc60ad207f0e1452c1b14228a2103.setContent(i_frame_892ebc261cfac9e378305f18b88910b8);
            
        

        marker_731d755677dd1f3db28505c668c6d4af.bindPopup(popup_8cdfc60ad207f0e1452c1b14228a2103)
        ;

        
    
    
            var marker_6d0c63cda6e0311323cd404ac61981b3 = L.marker(
                [46.68709, 21.72771],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_47417917fec83c91f1ff69c5fb63c7be = L.popup({"maxWidth": 2650});

        
            
                var i_frame_947b600c25469f2a046096e396ea772b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjEuNzI3NzE8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDYuNjg3MDk8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_47417917fec83c91f1ff69c5fb63c7be.setContent(i_frame_947b600c25469f2a046096e396ea772b);
            
        

        marker_6d0c63cda6e0311323cd404ac61981b3.bindPopup(popup_47417917fec83c91f1ff69c5fb63c7be)
        ;

        
    
    
            var marker_67a729abb2798da2da38eba093e7fd88 = L.marker(
                [43.91424, 23.29937],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_2250f44cfb6b8b936a53551cb7215041 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_ce8369350915948aac0c32ad7b446217 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuMjk5Mzc8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDMuOTE0MjQ8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_2250f44cfb6b8b936a53551cb7215041.setContent(i_frame_ce8369350915948aac0c32ad7b446217);
            
        

        marker_67a729abb2798da2da38eba093e7fd88.bindPopup(popup_2250f44cfb6b8b936a53551cb7215041)
        ;

        
    
    
            var marker_1cc6b60841e7e42a73e47ac115f89c71 = L.marker(
                [43.94555, 23.25561],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_6ba8d3636f0fed5d318a69035dddb6ba = L.popup({"maxWidth": 2650});

        
            
                var i_frame_3330225895347e125f849181febc8824 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuMjU1NjE8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDMuOTQ1NTU8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_6ba8d3636f0fed5d318a69035dddb6ba.setContent(i_frame_3330225895347e125f849181febc8824);
            
        

        marker_1cc6b60841e7e42a73e47ac115f89c71.bindPopup(popup_6ba8d3636f0fed5d318a69035dddb6ba)
        ;

        
    
    
            var marker_a5084b76fbfd1507d770e82d5f290612 = L.marker(
                [44.02487, 23.50324],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_e9c546305aba2585c47adb73258df357 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_ed6b47494c91a78ae9099d0bf5bbb7a4 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuNTAzMjQ8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDQuMDI0ODc8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_e9c546305aba2585c47adb73258df357.setContent(i_frame_ed6b47494c91a78ae9099d0bf5bbb7a4);
            
        

        marker_a5084b76fbfd1507d770e82d5f290612.bindPopup(popup_e9c546305aba2585c47adb73258df357)
        ;

        
    
    
            var marker_19466473249ef25140fdd1cc15a31789 = L.marker(
                [44.0275, 23.48865],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_06bd110a25e7ffe0ccca1d99d2a5e8b5 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_fb93a4a58a83433eca712c407526e84f = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuNDg4NjU8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDQuMDI3NTwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkRldGVjdGlvbiB0aW1lOiAyMDIzLTEwLTA3PC9saT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvdWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cD5BbmQgdGhhdCdzIGEgPGEgaHJlZj0iaHR0cHM6Ly93d3cucHl0aG9uLWdyYXBoLWdhbGxlcnkuY29tIj5saW5rPC9hPjwvcD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_06bd110a25e7ffe0ccca1d99d2a5e8b5.setContent(i_frame_fb93a4a58a83433eca712c407526e84f);
            
        

        marker_19466473249ef25140fdd1cc15a31789.bindPopup(popup_06bd110a25e7ffe0ccca1d99d2a5e8b5)
        ;

        
    
    
            var marker_fb84a96ba773a2cea2672a67b7492bb6 = L.marker(
                [43.88736, 23.66654],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_65b1200899ae0e71ce6a6dce4dbb00e5 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_42e57f0cc820f8ded69b9eae2f81dda5 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuNjY2NTQ8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDMuODg3MzY8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_65b1200899ae0e71ce6a6dce4dbb00e5.setContent(i_frame_42e57f0cc820f8ded69b9eae2f81dda5);
            
        

        marker_fb84a96ba773a2cea2672a67b7492bb6.bindPopup(popup_65b1200899ae0e71ce6a6dce4dbb00e5)
        ;

        
    
    
            var marker_3244d0cd48cef771da11d6c847203c70 = L.marker(
                [43.89529, 23.66702],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_9879ea01e09ba7f0ebd92f2c848c2d0b = L.popup({"maxWidth": 2650});

        
            
                var i_frame_1cadf2f224e1100fe9d43363a8f7e973 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuNjY3MDI8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDMuODk1Mjk8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_9879ea01e09ba7f0ebd92f2c848c2d0b.setContent(i_frame_1cadf2f224e1100fe9d43363a8f7e973);
            
        

        marker_3244d0cd48cef771da11d6c847203c70.bindPopup(popup_9879ea01e09ba7f0ebd92f2c848c2d0b)
        ;

        
    
    
            var marker_6ef53b082ba226b73c73c47b7e8756a9 = L.marker(
                [45.62311, 27.4349],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_e46dce6039567071eb2a000f67ce208c = L.popup({"maxWidth": 2650});

        
            
                var i_frame_fd080ec9a845c8b8489d9ef8b458f662 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjcuNDM0OTwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxhdGl0dWRlOiA0NS42MjMxMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkRldGVjdGlvbiB0aW1lOiAyMDIzLTEwLTA3PC9saT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvdWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cD5BbmQgdGhhdCdzIGEgPGEgaHJlZj0iaHR0cHM6Ly93d3cucHl0aG9uLWdyYXBoLWdhbGxlcnkuY29tIj5saW5rPC9hPjwvcD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_e46dce6039567071eb2a000f67ce208c.setContent(i_frame_fd080ec9a845c8b8489d9ef8b458f662);
            
        

        marker_6ef53b082ba226b73c73c47b7e8756a9.bindPopup(popup_e46dce6039567071eb2a000f67ce208c)
        ;

        
    
    
            var marker_a712ca20e5aff88275a94293dfac4595 = L.marker(
                [46.11808, 20.63474],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_cd2632beba43fbbe25ac002e8d790d21 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_97b61c8a1c8f1fea1806b3802d49cc86 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjAuNjM0NzQ8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDYuMTE4MDg8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_cd2632beba43fbbe25ac002e8d790d21.setContent(i_frame_97b61c8a1c8f1fea1806b3802d49cc86);
            
        

        marker_a712ca20e5aff88275a94293dfac4595.bindPopup(popup_cd2632beba43fbbe25ac002e8d790d21)
        ;

        
    
    
            var marker_b085cefb8c0ed7cd055bd56edde8ad0d = L.marker(
                [46.11994, 20.62215],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_0e3f1a459da233829dec9831f9504eeb = L.popup({"maxWidth": 2650});

        
            
                var i_frame_9516aaa578e1de4d9c6dda93a508eb81 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjAuNjIyMTU8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDYuMTE5OTQ8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_0e3f1a459da233829dec9831f9504eeb.setContent(i_frame_9516aaa578e1de4d9c6dda93a508eb81);
            
        

        marker_b085cefb8c0ed7cd055bd56edde8ad0d.bindPopup(popup_0e3f1a459da233829dec9831f9504eeb)
        ;

        
    
    
            var marker_c4a0350bfe4ffefbeaf42ad6132dcea9 = L.marker(
                [46.68509, 21.74059],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_3178a52e2645c3b92daaa79bac4690a1 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_d324db0fe00d39bec5e419de5b282cef = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjEuNzQwNTk8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDYuNjg1MDk8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_3178a52e2645c3b92daaa79bac4690a1.setContent(i_frame_d324db0fe00d39bec5e419de5b282cef);
            
        

        marker_c4a0350bfe4ffefbeaf42ad6132dcea9.bindPopup(popup_3178a52e2645c3b92daaa79bac4690a1)
        ;

        
    
    
            var marker_db6217907f6bf57d7160b9cf63b44693 = L.marker(
                [46.68709, 21.72771],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_93ebc4ed92a082170d784f56d2706b00 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_fbc5c3bfded0b61f71a2c4a07c398aa1 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjEuNzI3NzE8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDYuNjg3MDk8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_93ebc4ed92a082170d784f56d2706b00.setContent(i_frame_fbc5c3bfded0b61f71a2c4a07c398aa1);
            
        

        marker_db6217907f6bf57d7160b9cf63b44693.bindPopup(popup_93ebc4ed92a082170d784f56d2706b00)
        ;

        
    
    
            var marker_fd98b42adcf57bd95ab82d722b52347b = L.marker(
                [43.91424, 23.29937],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_baddc105571eb1d96271405aac7adcbd = L.popup({"maxWidth": 2650});

        
            
                var i_frame_507ee445b06906c2d647512ac9bfdf67 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuMjk5Mzc8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDMuOTE0MjQ8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_baddc105571eb1d96271405aac7adcbd.setContent(i_frame_507ee445b06906c2d647512ac9bfdf67);
            
        

        marker_fd98b42adcf57bd95ab82d722b52347b.bindPopup(popup_baddc105571eb1d96271405aac7adcbd)
        ;

        
    
    
            var marker_09082567505d9b0c30fbc70c5b54c5d3 = L.marker(
                [43.94555, 23.25561],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_ebd72b7fea4b94eeec8c9b51c2f75f9d = L.popup({"maxWidth": 2650});

        
            
                var i_frame_90a00070238e7c29c807002f1320fd45 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuMjU1NjE8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDMuOTQ1NTU8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_ebd72b7fea4b94eeec8c9b51c2f75f9d.setContent(i_frame_90a00070238e7c29c807002f1320fd45);
            
        

        marker_09082567505d9b0c30fbc70c5b54c5d3.bindPopup(popup_ebd72b7fea4b94eeec8c9b51c2f75f9d)
        ;

        
    
    
            var marker_b6bbed049d170023df5e5275920d2e9d = L.marker(
                [44.02487, 23.50324],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_59f6e8b6fd39c75d63414e6156219da1 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_cb9a8567b6fcb7b913110842334ff686 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuNTAzMjQ8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDQuMDI0ODc8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_59f6e8b6fd39c75d63414e6156219da1.setContent(i_frame_cb9a8567b6fcb7b913110842334ff686);
            
        

        marker_b6bbed049d170023df5e5275920d2e9d.bindPopup(popup_59f6e8b6fd39c75d63414e6156219da1)
        ;

        
    
    
            var marker_7267a066cb538b3b0662ad662f455ccd = L.marker(
                [44.0275, 23.48865],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_ada1657f7721022a509ac0849d1e75f3 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_fc8b060eb3c212989af644ac78016fed = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuNDg4NjU8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDQuMDI3NTwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkRldGVjdGlvbiB0aW1lOiAyMDIzLTEwLTA3PC9saT4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIDwvdWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8cD5BbmQgdGhhdCdzIGEgPGEgaHJlZj0iaHR0cHM6Ly93d3cucHl0aG9uLWdyYXBoLWdhbGxlcnkuY29tIj5saW5rPC9hPjwvcD4KICAgICAgICAgICAgICAgICAgICAgICAgICAgIA==" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_ada1657f7721022a509ac0849d1e75f3.setContent(i_frame_fc8b060eb3c212989af644ac78016fed);
            
        

        marker_7267a066cb538b3b0662ad662f455ccd.bindPopup(popup_ada1657f7721022a509ac0849d1e75f3)
        ;

        
    
    
            var marker_fadcd6118a04c2c3560819e3d6e34950 = L.marker(
                [43.88736, 23.66654],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_ef07c3a87e3922ca2ab44168143daab1 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_494b1b393eb912d47e71b14efde1cb6b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuNjY2NTQ8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDMuODg3MzY8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_ef07c3a87e3922ca2ab44168143daab1.setContent(i_frame_494b1b393eb912d47e71b14efde1cb6b);
            
        

        marker_fadcd6118a04c2c3560819e3d6e34950.bindPopup(popup_ef07c3a87e3922ca2ab44168143daab1)
        ;

        
    
    
            var marker_cd802346aa745b31057a51e3118db143 = L.marker(
                [43.89529, 23.66702],
                {}
            ).addTo(map_fef321fd78dd48cd98402a94b32d8326);
        
    
        var popup_6078ef4e247c5762ac66d6d9649555a7 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_3fb29001bbf59b536f7ea4ab44eaa016 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxwPkZpcmUgZGV0ZWN0ZWQgYnkgTU9ESVM8L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgPGxpPkxvbmdpdHVkZTogMjMuNjY3MDI8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5MYXRpdHVkZTogNDMuODk1Mjk8L2xpPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgICAgIDxsaT5EZXRlY3Rpb24gdGltZTogMjAyMy0xMC0wNzwvbGk+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICAgICAgICAgICAgICA=" width="200" style="border:none !important;" height="200"></iframe>`)[0];
                popup_6078ef4e247c5762ac66d6d9649555a7.setContent(i_frame_3fb29001bbf59b536f7ea4ab44eaa016);
            
        

        marker_cd802346aa745b31057a51e3118db143.bindPopup(popup_6078ef4e247c5762ac66d6d9649555a7)
        ;

        
    
</script>
</html>