<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_9acbe36a70e799c23d054e8f4ae7dd28 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
</head>
<body>
    
    
            <div class="folium-map" id="map_9acbe36a70e799c23d054e8f4ae7dd28" ></div>
        
</body>
<script>
    
    
            var map_9acbe36a70e799c23d054e8f4ae7dd28 = L.map(
                "map_9acbe36a70e799c23d054e8f4ae7dd28",
                {
                    center: [20.0, 0.0],
                    crs: L.CRS.EPSG3857,
                    zoom: 2,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_dd6d77a39958356b1fc8fd84e4a0c8bc = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca target=\"_blank\" href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca target=\"_blank\" href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
            var marker_77229507103f08ff3a9f5ea6a7872217 = L.marker(
                [45.62311, 27.4349],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_405642502e2e2233e3df11b6aeb7c85f = L.popup({"maxWidth": 2650});

        
            
                var i_frame_a76dfcac2af7afc51f4817c3973fc1db = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_405642502e2e2233e3df11b6aeb7c85f.setContent(i_frame_a76dfcac2af7afc51f4817c3973fc1db);
            
        

        marker_77229507103f08ff3a9f5ea6a7872217.bindPopup(popup_405642502e2e2233e3df11b6aeb7c85f)
        ;

        
    
    
            var marker_43145340a4a550ec98a3f61708bc79e7 = L.marker(
                [46.11808, 20.63474],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_a71e2699c7b250055f50fdeef80c1d0b = L.popup({"maxWidth": 2650});

        
            
                var i_frame_ea17c963d59b4949aa763ada8885f4f1 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_a71e2699c7b250055f50fdeef80c1d0b.setContent(i_frame_ea17c963d59b4949aa763ada8885f4f1);
            
        

        marker_43145340a4a550ec98a3f61708bc79e7.bindPopup(popup_a71e2699c7b250055f50fdeef80c1d0b)
        ;

        
    
    
            var marker_9c17f80f13c831414f53796580ab725e = L.marker(
                [46.11994, 20.62215],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_91bc5cee40448e41552324f07a662674 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_f8615acc84886b7fddf6e39cdb7a4def = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_91bc5cee40448e41552324f07a662674.setContent(i_frame_f8615acc84886b7fddf6e39cdb7a4def);
            
        

        marker_9c17f80f13c831414f53796580ab725e.bindPopup(popup_91bc5cee40448e41552324f07a662674)
        ;

        
    
    
            var marker_261508bc0f5ab9c5f8b0b5f873d9a29c = L.marker(
                [46.68509, 21.74059],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_872ae88d32fef7e3bb64e19a1f3816a8 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_c828abecb25f4b3973b02a9659d3c3a4 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_872ae88d32fef7e3bb64e19a1f3816a8.setContent(i_frame_c828abecb25f4b3973b02a9659d3c3a4);
            
        

        marker_261508bc0f5ab9c5f8b0b5f873d9a29c.bindPopup(popup_872ae88d32fef7e3bb64e19a1f3816a8)
        ;

        
    
    
            var marker_fe9d206e19e8f5964a4e31a70f22ad82 = L.marker(
                [46.68709, 21.72771],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_51a1f469bfa05f34a38fa465c5bed889 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_2e9a5b282a059c2154e2d763205707e9 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_51a1f469bfa05f34a38fa465c5bed889.setContent(i_frame_2e9a5b282a059c2154e2d763205707e9);
            
        

        marker_fe9d206e19e8f5964a4e31a70f22ad82.bindPopup(popup_51a1f469bfa05f34a38fa465c5bed889)
        ;

        
    
    
            var marker_55ac620a9a5cff6cce80c278b8f956ae = L.marker(
                [43.91424, 23.29937],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_4098c12d67a46daed1f5275460d158c0 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_ccfb63ae50fc3d9e1c4ce0b25cef8c0d = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_4098c12d67a46daed1f5275460d158c0.setContent(i_frame_ccfb63ae50fc3d9e1c4ce0b25cef8c0d);
            
        

        marker_55ac620a9a5cff6cce80c278b8f956ae.bindPopup(popup_4098c12d67a46daed1f5275460d158c0)
        ;

        
    
    
            var marker_587d94123d506a6c72f2a2a5361f69c6 = L.marker(
                [43.94555, 23.25561],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_443a77869721f9972446f7c906aaeac2 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_ddbcae80843ffefcf03138bc9feebac0 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_443a77869721f9972446f7c906aaeac2.setContent(i_frame_ddbcae80843ffefcf03138bc9feebac0);
            
        

        marker_587d94123d506a6c72f2a2a5361f69c6.bindPopup(popup_443a77869721f9972446f7c906aaeac2)
        ;

        
    
    
            var marker_5085c57dfce5b2f5171d35ee13c1e431 = L.marker(
                [44.02487, 23.50324],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_be69f3a0bc5d6b47def7d356aee23406 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_c8a40e20f11b61f5c040130b8113068f = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_be69f3a0bc5d6b47def7d356aee23406.setContent(i_frame_c8a40e20f11b61f5c040130b8113068f);
            
        

        marker_5085c57dfce5b2f5171d35ee13c1e431.bindPopup(popup_be69f3a0bc5d6b47def7d356aee23406)
        ;

        
    
    
            var marker_d9871b3048aedb45ed3a6b4eb92146ad = L.marker(
                [44.0275, 23.48865],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_875cd7310086cf71a852f33f653af5f7 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_06713591e67385a2706d323ccd1539eb = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_875cd7310086cf71a852f33f653af5f7.setContent(i_frame_06713591e67385a2706d323ccd1539eb);
            
        

        marker_d9871b3048aedb45ed3a6b4eb92146ad.bindPopup(popup_875cd7310086cf71a852f33f653af5f7)
        ;

        
    
    
            var marker_307eb5d37714b46ee7ea21bf3c72b6eb = L.marker(
                [43.88736, 23.66654],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_2cd6eb253b7df238df6a2193cd8e83f3 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_baeba7a1429c5e5cad4f923da2186e2b = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_2cd6eb253b7df238df6a2193cd8e83f3.setContent(i_frame_baeba7a1429c5e5cad4f923da2186e2b);
            
        

        marker_307eb5d37714b46ee7ea21bf3c72b6eb.bindPopup(popup_2cd6eb253b7df238df6a2193cd8e83f3)
        ;

        
    
    
            var marker_43958a9bf264c08d41dccababa39979d = L.marker(
                [43.89529, 23.66702],
                {}
            ).addTo(map_9acbe36a70e799c23d054e8f4ae7dd28);
        
    
        var popup_16300a961d3f981d24226d4b5577d709 = L.popup({"maxWidth": 2650});

        
            
                var i_frame_0e370cbf0ff16d4de2948b9d2672cf97 = $(`<iframe src="data:text/html;charset=utf-8;base64,CiAgICAKICAgICAgICAgICAgICAgIDxwPllvdSBjYW4gdXNlIGFueSBodG1sIGhlcmUhIExldCdzIGRvIGEgbGlzdDo8L3A+CiAgICAgICAgICAgICAgICA8dWw+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMTwvbGk+CiAgICAgICAgICAgICAgICAgICAgPGxpPkl0ZW0gMjwvbGk+CiAgICAgICAgICAgICAgICA8L3VsPgogICAgICAgICAgICAgICAgPC9wPgogICAgICAgICAgICAgICAgPHA+QW5kIHRoYXQncyBhIDxhIGhyZWY9Imh0dHBzOi8vd3d3LnB5dGhvbi1ncmFwaC1nYWxsZXJ5LmNvbSI+bGluazwvYT48L3A+CiAgICAgICAgICAgICAgICA=" width="100" style="border:none !important;" height="100"></iframe>`)[0];
                popup_16300a961d3f981d24226d4b5577d709.setContent(i_frame_0e370cbf0ff16d4de2948b9d2672cf97);
            
        

        marker_43958a9bf264c08d41dccababa39979d.bindPopup(popup_16300a961d3f981d24226d4b5577d709)
        ;

        
    
</script>
</html>